<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content=""/>

    <title>feedback</title>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="bg">
    <div class="singin">
        <div id="login">
            <div class="group clearfix">
                <label>账户：</label>
                <div class="input">
                    <input id="username" value="" type="text"/>
                </div>
            </div>
            <div class="group clearfix">
                <label>密码：</label>
                <div class="input">
                    <input id="password" type="password"/>
                </div>
            </div>
            <div class="group clearfix">
                <label>&nbsp;</label>
                <div class="input">
                    <div id="tip" class="tip"></div>
                    <a href="javascript:void(0);" id="singin"  class="blue-singin">登录</a>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/lib/jquery-1.12.0.min.js"></script>
<script src="/js/login.js"></script>

</body>
</html>